<div style="float: left">
    <a href="{{ path('operation_new', {'operationSlug': 'expense'}) }}">Add expense</a> |
    <a href="{{ path('operation_new', {'operationSlug': 'income'}) }}">Add income</a> |
    <a href="{{ path('operation_new', {'operationSlug': 'transfer'}) }}">Add transfer</a>
</div>
<div style="float: right">
    <a href="{{ path('operation_new', {'operationSlug': 'debt'}) }}">Add debt</a> |
    <a href="{{ path('operation_new', {'operationSlug': 'repayment'}) }}">Add repayment</a>
</div>
<div style="clear: both"></div>
<div style="float: right">
    <a href="{{ path('operation_new', {'operationSlug': 'loan'}) }}">Add loan</a> |
    <a href="{{ path('operation_new', {'operationSlug': 'debt-collection'}) }}">Add debt collection</a>
</div>
