{% set typeExpense        = operation|instance_of('App\\Entity\\Operation\\OperationExpense') %}
{% set typeIncome         = operation|instance_of('App\\Entity\\Operation\\OperationIncome') %}
{% set typeTransfer       = operation|instance_of('App\\Entity\\Operation\\OperationTransfer') %}
{% set typeDebt           = operation|instance_of('App\\Entity\\Operation\\OperationDebt') %}
{% set typeRepayment      = operation|instance_of('App\\Entity\\Operation\\OperationRepayment') %}
{% set typeLoan           = operation|instance_of('App\\Entity\\Operation\\OperationLoan') %}
{% set typeDebtCollection = operation|instance_of('App\\Entity\\Operation\\OperationDebtCollection') %}

{% if typeIncome and operation.fund is null %}
    {% set amountFontColor = 'green' %}
{% elseif typeExpense and operation.fund is null  %}
    {% set amountFontColor = 'darkblue' %}
{% elseif typeTransfer or operation.fund is defined and operation.fund is not null  %}
    {% set amountFontColor = 'gray' %}
{% elseif typeDebt %}
    {% set amountFontColor = 'red' %}
{% elseif typeLoan %}
    {% set amountFontColor = '#FF6103' %}
{% else %}
    {% set amountFontColor = 'inherit' %}
{% endif %}

<div class="operation-item">
    <p class="operation-main-line">
        <span style="display: inline-block">
            {% if operation.description is not empty %}
                {{ operation.description }}
            {% elseif operation.category.name is defined %}
                {{ operation.category.name|lower }}
            {% else %}
                {% if typeExpense %}        expense         {% endif %}
                {% if typeIncome %}         income          {% endif %}
                {% if typeTransfer %}       transfer        {% endif %}
                {% if typeDebt %}           debt            {% endif %}
                {% if typeRepayment %}      repayment       {% endif %}
                {% if typeLoan %}           loan            {% endif %}
                {% if typeDebtCollection %} debt collection {% endif %}
            {% endif %}
        </span>
        <span style="float: right; color: {{ amountFontColor }};">
            {% if typeExpense %}        &ndash; {% endif %}
            {% if typeIncome %}         &plus; {% endif %}
            {% if typeTransfer %}       &harr; {% endif %}
            {% if typeDebt %}           &plus; {% endif %}
            {% if typeRepayment %}      &ndash; {% endif %}
            {% if typeLoan %}           &ndash; {% endif %}
            {% if typeDebtCollection %} &plus; {% endif %}
            {{ operation.amount|currency }}
        </span>
    </p>
    <p class="operation-sub-line">
        <span style="float: left; font-size: small; color: gray">
            {% if operation.category.name is defined %}
                {{ operation.category.name }}
            {% endif %}
            {% if typeDebt %}           debt from {{ operation.person }}      {% endif %}
            {% if typeRepayment %}      debt paid to {{ operation.person }}   {% endif %}
            {% if typeLoan %}           loan to {{ operation.person }}        {% endif %}
            {% if typeDebtCollection %} loan paid from {{ operation.person }} {% endif %}
        </span>
        <span style="float: right; font-size: small; color: gray">
            {% if operation.fund.name is defined %} [{{ operation.fund.name }}] {% endif %}
            {% if typeTransfer %}
                {{ operation.source }} > {{ operation.target }}
            {% else %}
                {{ operation.account }}
            {% endif %}
        </span>
        <span style="display: block; clear: both"></span>
    </p>
    <p class="operation-toolbar">
        {% if typeExpense %}        {% set operationSlug = 'expense' %}         {% endif %}
        {% if typeIncome %}         {% set operationSlug = 'income' %}          {% endif %}
        {% if typeTransfer %}       {% set operationSlug = 'transfer' %}        {% endif %}
        {% if typeDebt %}           {% set operationSlug = 'debt' %}            {% endif %}
        {% if typeRepayment %}      {% set operationSlug = 'repayment' %}       {% endif %}
        {% if typeLoan %}           {% set operationSlug = 'loan' %}            {% endif %}
        {% if typeDebtCollection %} {% set operationSlug = 'loan-collection' %} {% endif %}
        <a href="{{ path('operation_edit', {'id': operation.id, 'operationSlug': operationSlug}) }}">Edit</a> |
        <a href="{{ path('operation_copy', {'id': operation.id, 'operationSlug': operationSlug}) }}">Copy</a> |
        <a href="#"
           class="js-operation-delete"
           data-url="{{ path('operation_delete', {'id': operation.id, 'operationSlug': operationSlug}) }}"
           data-description="{{ operation.description }}"
           data-amount="{{ operation.amount|currency }}">Delete</a>
    </p>
</div>
