{% extends 'base.html.twig' %}

{% block title %}Debt list{% endblock %}

{% block body %}
    <div style="float: right">
        <a href="{{ path('debt_new') }}">Add debt</a>
    </div>
    {% for debtSummary in debtSummaries %}
        <div class="debt-summary {% if debtSummary.remaining == 0 %}fully-paid{% endif %}">
            <p>Date: {{ debtSummary.date|date_human }}</p>
            {{ include('debt/_summary.html.twig') }}
            <p>
                <a href="{{ path('debt_show', {'id': debtSummary.debt.id}) }}">View</a>
            </p>
        </div>
        <hr>
    {% else %}
        <p>Congrats! There are no debts.</p>
    {% endfor %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('debt') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('debt') }}
{% endblock %}