{% extends 'base.html.twig' %}

{% block title %}Debt list{% endblock %}

{% block body %}
    <div style="float: right">
        <a href="{{ path('debt_new') }}">Add debt</a>
    </div>
    <h1>Debts:</h1>
    <table>
        <thead>
        <th>Person</th>
        <th>Amount</th>
        <th>Due date</th>
        <th>Description</th>
        <th>Actions</th>
        </thead>
        <tbody>
        {% for debt in debts %}
            {% if debt.dueDate is not null %}
                {% set debtDueDateForHuman = debt.dueDate.timestamp|date_human %}
            {% else %}
                {% set debtDueDateForHuman = null %}
            {% endif %}

            <tr>
                <td>{{ debt.person.name }}</td>
                <td style="text-align: right">{{ 0|currency }}</td>
                <td>{{ debtDueDateForHuman }}</td>
                <td>{{ debt.description }}</td>
                <td>
                    <a href="{{ path('debt_edit', {'id': debt.id}) }}">Edit</a>
                    <a href="#"
                       class="js-debt-delete"
                       data-person-name="{{ debt.person.name }}"
                       data-amount="0.00"
                       data-url="{{ path('debt_delete', {'id': debt.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('debt') }}
{% endblock %}