{{ form_start(fundForm) }}
    {{ form_row(fundForm.name) }}
    {{ form_row(fundForm.person) }}
    {{ form_row(fundForm.description) }}
    {{ form_row(fundForm.icon) }}
    {{ form_row(fundForm.initialBalance) }}
    {{ form_row(fundForm._token) }}
    <button type="submit">Save</button>
{{ form_end(fundForm) }}
